/* About us */


.about_us{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    background: url(../img/about_us_img/about_us_head_bg.png)center no-repeat;
    background-size: cover;
}

.about_us__wrapper{
    padding: 160px 110px;
}

.about_us__sub_title{
    margin-bottom: 16px;
}


/* Welcome */


.welcome{
    padding: 128px 0;
}

.welcome__wrapper{
    padding: 0;
}

.welcome__container_bottom{
    max-width: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.welcome__container_bottom__card{
    margin: 5%;
    margin-bottom: 0;
    width: 372px;
}


/* Benefits of our Church */


.benefits_of_church{
    padding: 0 238px;
}

.benefits_of_church__wrapper{
    text-align: center;
}

.benefits_of_church__sub_title{
    margin-bottom: 16px;
}

.benefits_of_church__title{
    margin-bottom: 60px;
}

.benefits_of_church__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.benefits_of_church__card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 2%;
}

.benefits_of_church__card_left{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 2%;
}

.benefits_of_church__card__content{
    max-width: 500px;
    min-width: 500px;
    width: 50%;
}

.benefits_of_church__card__title{
    margin-bottom: 16px;
}

.benefits_of_church__card__text{
    margin-bottom: 24px;
}

.benefits_of_church__card__img{
    margin-left: 48px;
} 

.benefits_of_church__card__img_left{
    margin-right: 48px;
}    


/* Our Team */


.our_team{
    padding: 128px 110px;
}

.our_team_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.our_team__sub_title{
    margin-bottom: 16px;
}

.our_team__title{
    margin-bottom: 64px;
}

.our_team__member__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our_team__member__card{
    padding: 48px 0;
    min-width: 302px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F2F0;
    margin: 12px;
}

.member_card__avatar{
    min-width: 168px;
    min-height: 168px;
    margin-bottom: 26px;
}

.member_avatar_1{
    background: url(../img/about_us_img/member_avatar1.png)center no-repeat;
}

.member_avatar_2{
    background: url(../img/about_us_img/member_avatar2.png)center no-repeat;
}

.member_avatar_3{
    background: url(../img/about_us_img/member_avatar3.png)center no-repeat;
}

.member_avatar_4{
    background: url(../img/about_us_img/member_avatar4.png)center no-repeat;
}

.member_card__name{
    margin-bottom: 8px;
}

.member_card__post{
    margin-bottom: 16px;
}

.member_card__social__ico{
    margin: 0 10px;
}
