* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0
}

button {
    border: none;
    background: none;
}

h1{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h2{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h3{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h4{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h5{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h6{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

p{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-transform: none;
    color: #161722;
}


/* Header */


.header {
    background: black;
    max-height: 80px;
}

.header__wrapper {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    max-height: 80px;
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-right: 64px;
    min-height: 80px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.header__nav{
    margin-left: 16px;
    padding: 10px 0px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 48px;
}

.nav__link {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
}

.nav__link:hover, .nav__link:focus{
    opacity: 1;
    transition: .3;
}

.header__button {
    margin: 12px 0;
}

.nav__button {
    padding: 20px 48px;
    background: #FFD2A4;
    backdrop-filter: blur(40px);
    border-radius: 12px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
}


/* Home */


.home{
    padding: 128px 110px;
    display: flex;
    align-items: center;
    margin: 0;
    background-image: url(../img/home_bg.png);
    background-size: cover ;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(53, 53, 53);
}

.home_wrapper{
    max-width: 550px;
}

.home__sub_title{
    margin-bottom: 16px;
    color: #FFFFFF;
}

.home__title{
    margin-bottom: 32px;
    
    color: #FFFFFF;
}

.home__button{
    margin-bottom: 64px;
}

.main_buttons{
    padding: 24px 64px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    background: #FFD2A4;
    border-radius: 12px;
}

.home__text_wrapper{
display: flex;
}

.home__text{
    max-width: 308px;
    max-height: 50px;
    color: #FFFFFF;
}

.defis::before{
    content: '';
    display:inline-block;
    vertical-align: middle;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: 12px;
}


/* What do ve do */


.what_do_we_do{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info__wrapper{
    padding: 128px 110px;
}

.info__sub_title{
    margin-bottom: 16px;
    font-weight: 400;
}

.info__title{
    margin-bottom: 64px;
}

.info__cards{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.info__card{
    margin:  2%;
    padding: 40px;
    max-width: 411px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #FFF5EB;
    border-bottom: 16px solid #FFD2A4;;
}

.info__card:hover, .info__card:focus{
    scale: 1.2;
    background: #FFD2A4;
    transition: .5s;
}

.info__card__ico{
    margin-bottom: 24px;
}

.info__card__title{
    margin-bottom: 8px;
    color: #161722;
}

.info__card__text{
    color: #161722;
    max-width: 250px;
}


/* Welcome */


.welcome{
    text-align: center;
}

.welcome__wrapper{
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome__container{
    display: flex;;
    flex-direction: column;
    max-width: 637px;
}

.welcome__sub_title{
    margin-bottom: 16px;
}

.welcome__title{
    margin-bottom: 32px;
}

.welcome__text{
    margin-bottom: 56px;
    text-align: center;
}

.welcome__button{
    margin-bottom: 48px;
}

.welcome__images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome__img{
    margin: 2.5%;
    
}

.welcome__img:hover, .welcome__img:focus{
    scale: 1.3;
}

.welcome__container_bottom{
    margin-top: 64px;
    max-width: 512px;
}

.welcome__sub_title_bottom{
    margin-bottom: 16px;
}

.welcome__title_bottom{
    margin-bottom: 16px;
}

.welcome__text_bottom{
    margin-bottom: 16px;
}

.welcome__link{
    color: #161722;
}
.welcome__link:hover, .welcome__link:focus{
    border: 1px solid #161722;
    border-radius: 5px;
}


/* Benefits of our Church */


.benefits{
    background: #F5F2F0;
}

.benefits__wrapper{
    padding: 128px 98px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.benefits__sub_title{
    margin-bottom: 20px;
}

.benefits__title{
    margin-bottom: 64px;
}

.benefits__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.benefits__card{
    margin: 2% 1%;
    margin-top: 0;
    width: 302px;
    height: 384px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
}

.benefits__card_first{
    background: linear-gradient(0deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0) 45%), url(../img/benefits__card_first.png) center;
}

.benefits__card_second{
    background: linear-gradient(0deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0) 45%), url(../img/benefits__card_second.png) center;
}

.benefits__card_third{
    background: linear-gradient(0deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0) 45%), url(../img/benefits__card_third.png) center;
}

.benefits__card_fourth{
    background: linear-gradient(0deg, rgba(0,0,0,0.804359243697479) 0%, rgba(0,0,0,0) 45%), url(../img/benefits__card_fourth.png) center;
}

.benefits__card__title{
    color: #FFFFFF;
}

.benefits__card__text{
    max-width: 238px;
    color: #FFFFFF;
    position: absolute;
    opacity: 0;
}

.benefits__card:hover .benefits__card__title{
    margin-bottom: 88px;
    transition: .5s;
}

.benefits__card:hover .benefits__card__text{
    opacity: 1;
    transition: .5s;
    transition-delay: .2s;
}


/* Upcoming Sermons */


.upcoming_seremons{
    padding: 128px 110px;
}

.upcoming_seremons__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.upcoming_seremons__sub_title{
    margin-bottom: 16px;
}

.upcoming_seremons__title{
    margin-bottom: 64px;
}

.upcoming_seremons__content_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.upcoming_seremons__content_block{
    box-sizing: border-box;
    padding: 61px 90px;
    padding-right: 32px;
    padding-top: 32px;
    min-width: 500px;
    max-height: 512px;
    background: #FFF5EB;
    display: flex;
    justify-content: center;
}

.upcoming_event{
    padding-top: 29px;
    max-width: 256px; 
    text-align: left;
}

.upcoming_event__sub_title{
    margin-bottom: 16px;
    background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.upcoming_event__title{
    margin-bottom: 16px;
}

.upcoming_event__text{
    margin-bottom: 32px;
    color: #161722;
    opacity: 0.78;
}

.upcoming_event__date{
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
    line-height: 24px;
}

.fa-clock{
    margin-right: 16px;
}

.upcoming_event__place{
    display: flex;
    align-items: baseline;
    margin-bottom: 32px;
    line-height: 24px;
}

.fa-map-marker-alt{
    margin-right: 16px;
}

.upcoming_event__button.main_buttons{
    background: #161722;
    color: #FFD2A4;
}

.upcoming_event__button.main_buttons:hover, .upcoming_event__button.main_buttons:focus{
    background: #161722d8;
    transition: .3s;
    
}

.upcoming_event__date_plate{
    margin-left: 32px;
    text-align: right;
}

.date_plate__number{
    line-height: 28px;
}

.date_plate__month{
    line-height: 19px;
    text-transform: uppercase;
}

.upcoming_seremons__image{
    background: url(../img/upcoming_seremons_image.png) center;
    background-size: cover;
    max-width: 845px;
    height: 512px;
    width:calc(100% - 400px);
    min-width: 500px;
}


/* CTA */


.cta{
    background:url(../img/cta_bg.png) center no-repeat ;
    background-size: cover;
    padding: 128px 366px;
    display: flex;
    justify-content: center;

}

.cta__wrapper{
    background: #FFFFFF;
    padding: 72px 48px;
    min-width: 768px;
    border-bottom: 16px solid #FFD2A4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__title{
    max-width: 368px;
    margin-bottom: 16px;
}

.cta__text{
    margin-bottom: 16px;
    width: 302px;
}


/* Blog posts */


.blog{
    padding: 128px 110px;
}

.blog__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blog__sub_title{
    margin-bottom: 16px;
}

.blog__title{
    margin-bottom: 64px;
}

.blog__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.blog__card{
    position: relative;
    box-sizing: border-box;
    padding: 48px 32px;
    margin: 1%;
    text-align: left;
    max-width: 302px;
    max-height: 367px;
    background: #FFF5EB;
    border-bottom: 16px solid transparent;
}

.blog__card:hover{
    box-sizing: border-box;
    border-bottom: 16px solid #FFD2A4;
    transition: .2s;
}

.blog__card__sub_title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.blog__card__title{
    margin-bottom: 16px;
}

.blog__card__text{
    margin-bottom: 48px;
    color: #161722;
    opacity: 0.78;
}

.blog__card__postscript{
    display: flex;
    flex-direction: column;
}

.blog__card__postscript__aftor{
    color: #161722;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.blog__card__postscript__date{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
}


/* Footer */


.footer{
    background: #161722;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__contacts{

}

.footer__logo{
    margin-bottom: 8px;
}

.footer__contacts__list{

}

.footer__contacts__item{
    margin: 8px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__link{
    color: #FFFFFF;
}

.footer__nav{

}

.footer__nav__title{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__nav__list{

}

.footer__nav__item{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.78;
}

.footer__social{

}

.footer__social__title{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__social__list{
    display: flex;
    justify-content: start;
}

.footer__social__item{
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFD2A4;
    
}

.

.

.

.

.

.

.







