* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0
}

button {
    border: none;
    background: none;
}

h1{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h2{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h3{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h4{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h5{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

h6{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}

p{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
}


/* Header */


.header {
    background: black;
    max-height: 80px;
}

.header__wrapper {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    max-height: 80px;
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-right: 64px;
    min-height: 80px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.header__nav{
    margin-left: 16px;
    padding: 10px 0px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 48px;
}

.nav__link {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
}

.nav__link:hover, .nav__link:focus{
    opacity: 1;
    transition: .3;
}

.header__button {
    margin: 12px 0;
}

.nav__button {
    padding: 20px 48px;
    background: #FFD2A4;
    backdrop-filter: blur(40px);
    border-radius: 12px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
}


/* Home */


.home{
    padding: 128px 110px;
    display: flex;
    align-items: center;
    margin: 0;
    background-image: url(../img/home_bg.png);
    background-size: cover ;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(53, 53, 53);
}

.home_wrapper{
    max-width: 550px;
}

.home__sub_title{
    margin-bottom: 16px;
    color: #FFFFFF;
}

.home__title{
    margin-bottom: 32px;
    
    color: #FFFFFF;
}

.home__button{
    margin-bottom: 64px;
}

.main_buttons{
    padding: 24px 64px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1C1D28;
    background: #FFD2A4;
    border-radius: 12px;
}

.home__text_wrapper{
display: flex;
}

.home__text{
    max-width: 308px;
    max-height: 50px;
    color: #FFFFFF;
    text-transform: none;
}

.defis::before{
    content: '';
    display:inline-block;
    vertical-align: middle;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    position: relative;
    margin-right: 12px;
}


/* What do ve do */


.what_do_we_do{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info__wrapper{
    padding: 128px 110px;
}

.info__sub_title{
    margin-bottom: 16px;
    font-weight: 400;
}

.info__title{
    margin-bottom: 64px;
}

.info__cards{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.info__card{
    margin: 0 12px;
    padding: 40px;
    max-width: 411px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #FFF5EB;
    border-bottom: 16px solid #FFD2A4;;
}

.info__card:hover, .info__card:focus{
    scale: 1.2;
    background: #FFD2A4;
    animation: ;
    transition: .5s;
}

.card__ico{
    margin-bottom: 24px;
}

.card__title{
    margin-bottom: 8px;
    color: #161722;
}

.card__text{
    text-transform: none;
    color: #161722;
    max-width: 250px;
}